<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<main>
  <form class="login-form" method="POST">
    <div class="form-control">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" />
    </div>
    <div class="form-control">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
    </div>
    <button type="submit">Login</button>
  </form>
</main>
<%- include("../partials/footer.ejs") %>
