<section class="pagination">
  <% if(hasPrevPage) { %>
  <a href="/?page=<%= prevPage %>" class="">Prev</a>
  <% } %>
  <a href="/?page=<%= currentPage %>" class="active"><%= currentPage %></a>
  <% if(hasNextPage) { %>
  <a href="/?page=<%= nextPage %>" class="">Next</a>
  <% } %>
</section>