.login-form,
.signup-form {
  font: inherit;
  width: 20rem;
  max-width: 90%;
  margin: auto;
}
.login-form button,
.signup-form button {
  border: 2px solid var(--primaryColor);
  border-radius: 2px;
  background-color: transparent;
  font-size: 0.9em;
  color: #333;
  transition: 0.3s linear;
  padding: 0.5em;
}
